%h1 Transactions
%table.tsummary
  %tr
    %th Date
    %th Description
    %th Credits
    %th Debits
    %th Balance
  - @entries.each do |entry|
    %tr
      %td= entry.created_at
      %td= entry.description
      %td.credit= number_to_currency entry.credits_total
      %td.debt= number_to_currency entry.debits_total
      %td{:class => (entry.balance < 0)?'debt':'credit'}= number_to_currency entry.balance
      
= link_to 'New Payment/Bill', new_entry_url