%ul.navbar
  %li= link_to 'Home', root_url
  %li= link_to 'Back', entries_url
%h1 Transaction Details
%div
  %b When:
  %br
  = @entry.created_at.to_date
%div
  %b Description:
  %br
  = @entry.description
%h2 Ledger Entries
%div
  - @entry.ledger_entries.each do |le|
    %div.ledger
      %b= le.account.name
      %br
      %span{:class => (le.amount < 0)?'debt':'credit'}= number_to_currency le.amount