<ul class="navbar">
  <li><%= link_to 'Home', root_url %></li>
  <li><%= link_to 'New Account', new_account_url %></li>
</ul>
<h1>Accounts</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Balance</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @accounts.each do |account| %>
  <tr>
    <td><%=h account.name %></td>
    <td><%= number_to_currency(account.balance) %></td>
    <td><%= link_to 'Show', account %></td>
    <td><%= link_to 'Edit', edit_account_path(account) %></td>
    <td><%= link_to 'Destroy', account, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>
