<ul class="navbar">
  <li><%= link_to 'Home', root_url %></li>
  <li><%= link_to 'Back to Accounts', accounts_url %></li>
</ul>

<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%=h @account.name %>
</p>
<p>
  <b>Balance:</b>
  <%= number_to_currency(@account.balance) %>
</p>

<%= link_to 'Edit', edit_account_path(@account) %> |
<%= link_to 'Back', accounts_path %>
